@gameSquareSize: 150px;
@emphasisColor: #E7BD42;

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image:url(/images/background.jpg);
}

table tr td {
  background-color: #000011;
  height: @gameSquareSize;
  width: @gameSquareSize;
  border: solid;
  border-color: @emphasisColor;
  text-align: center;
  font-size: 90px;
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
  }

button {
  height: 100px;
  width: 150px;
  margin: 25px;
  font-size: 25px;
  background-color: @emphasisColor;
}

img.gameSquare {
  background: url('/images/sprite.jpg');
  height:@gameSquareSize;
  width:@gameSquareSize;
  background-size: 3 * @gameSquareSize @gameSquareSize;
  background-repeat: no-repeat;
  background-position: 0 0;
  &.player1 {
    background-position: -1 * @gameSquareSize 0;
  }
  &.player2 {
    background-position: -2 * @gameSquareSize 0;
  }
}

