* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image:url(/images/background.jpg);
}

table tr td {
  background-color: #000011;
  /*color: #EF9CB5;*/
  color: #6787f9;
  height: 150px; width: 150px;
  border: solid;
  border-color: #E7BD42;
  text-align: center;
  font-size: 90px;
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
  font-family: serif;
  }

button {
  height: 50px;
  width: 150px;
  margin: 25px;
  font-size: 25px;
  background-color: #E7BD42;
}

