@gameSquareSize: 150px;
@emphasisColor: #E7BD42;
@playerSelectionSize: 150px;
@winnerSquareSize: 150px;
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image:url(/images/background.jpg);
}

table tr td {
  background-color: #000011;
  height: @gameSquareSize;
  width: @gameSquareSize;
  border: solid;
  border-color: @emphasisColor;
  text-align: center;
  font-size: 90px;
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
}

button {
  height: 100px;
  width: 150px;
  margin: 25px;
  font-size: 25px;
  background-color: @emphasisColor;
}

img.gameSquare {
  background: url('/images/sprite.jpg');
  height:@gameSquareSize;
  width:@gameSquareSize;
  background-size: 3 * @gameSquareSize @gameSquareSize;
  background-repeat: no-repeat;
  background-position: 0 0;
  &.player1 {
    background-position: -1 * @gameSquareSize 0;
  }
  &.player2 {
    background-position: -2 * @gameSquareSize 0;
  }
}

img.playerSelection {
  background: url('/images/player-sprite.jpg');
  height: @playerSelectionSize;
  width: @playerSelectionSize;
  background-size: 3 * @playerSelectionSize @playerSelectionSize;
  background-repeat: no-repeat;
  background-position: 0 0;
  &.pre-trained {
    background-position:  -1 * @playerSelectionSize 0;
  }
  &.random {
    background-position:  -2 * @playerSelectionSize 0;
  }
}

img.thePodium {
  display: none;
  background: url('/images/winner-sprite.jpg');
height: @winnerSquareSize;
width: @winnerSquareSize;
background-size: 3 * @winnerSquareSize @winnerSquareSize;
background-repeat: no-repeat;
background-position: -1 * @winnerSquareSize;
&.draw {
  display: block;
}
&.win1 {
  display: block;
  background-position: 0;
}
  &.win2{
    display: block;
    background-position: -2 * @winnerSquareSize;
  }

}

