<!DOCTYPE html>
<html ng-app="noughtsAndCrossesApp">
<head>

    <title>Noughts and Crosses</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <script src="/angular/angular.min.js"></script>


</head>

<body ng-controller="noughtsAndCrossesController">



<h2> {{ gameModel.gameState }} </h2>

<button ng-click="newGame()">New Game</button>

<button ng-click="makeMove(6)">Make Move</button>
<script src="scripts/built.js"></script>

<!--<button ng-click="togglePlayerChoice1(gameModel.player1)"> {{ gameModel.player1 }} </button>-->

<!--<button ng-click="togglePlayerChoice2(gameModel.player2)"> {{ gameModel.player2 }} </button>-->

</body>
</html>