<!DOCTYPE html>
<html ng-app="noughtsAndCrossesApp">
<head>

    <title>Noughts and Crosses</title>
    <link rel="stylesheet" href="/css/main.min.css">
    <script src="/angular/angular.min.js"></script>


</head>

<body ng-controller="noughtsAndCrossesController">
<div>
    <div>
        <table>
            <tr>
                <td><game-square squareNumber="0"/></td>
                <td><game-square squareNumber="1"/></td>
                <td><game-square squareNumber="2"/></td>
            </tr>
            <tr>
                <td><game-square squareNumber="3"/></td>
                <td><game-square squareNumber="4"/></td>
                <td><game-square squareNumber="5"/></td>
            </tr>
            <tr>
                <td><game-square squareNumber="6"/></td>
                <td><game-square squareNumber="7"/></td>
                <td><game-square squareNumber="8"/></td>
            </tr>
        </table>

            <button ng-click="newGame()">New Game</button>
            <button ng-click="togglePlayerChoice1()">Player 1 is {{gameModel.player1}}</button>
            <button ng-click="togglePlayerChoice2()">Player 2 is {{gameModel.player2}}</button>
    </div>
</div>

<script src="scripts/built.js"></script>

</body>
</html>